.bg-container{
    background-color: #D7E2F1;
    background-size: 100% 100%;
    .title-container{
        padding-top: 2%;
        h6{
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;

        }
    }
    form{
        display: flex;
        .form-group{
            label{
                font-size: 14px;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
            }
            .form-control{
                background-color: transparent;
                border: none;
                border-bottom: 1px solid;
                border-radius: 0;
                &:focus{
                    outline:0px;
                    box-shadow: none;
    
                }
            }
        }
    }
    .btn-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        button{
            color: #4D648D;
            border-color: #4D648D;
            border-radius: 0;
            margin: 2%;
        }
    }
    .card-container{
        display: flex;
        flex-wrap: wrap;
        .hiddenCard{
            display: none;
        }
        .card{
            margin-bottom: 10%;
            .card-body{
                display: flex;
                justify-content: center;
                align-items: center;
                h6{
                    color: #242424;
                    font-size: 14px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    span{
                        font-size: 32px;
                    }
                }
            }
        }
        
    }
}