<div class="card" *ngIf="data.length > 0" >
    <div class="card-body">
        <div>
            <div class="title-type row justify-content-between">
                <div class="col-8">
                    <h6>{{data[0].name}}</h6>
                </div>
                <div class="col-3"> 
                    <i class="fas fa-chart-pie"  data-toggle="modal" data-target="#exampleModal"></i>
                    <i class="fas fa-list-ul"></i>
                </div>
                <!-- mODAL -->
                <div class="modal fade col-md-8 offset-md-2" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog col-md-12" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                                <h6>{{data[0].name}}</h6>                                                            
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            
                        </div>
                        <div class="modal-body">
                            <div class="row justify-content-between">
                                <div class="col-3"> 
                                    <i class="fas fa-chart-pie"  data-toggle="modal" data-target="#exampleModal"></i>
                                    <i class="fas fa-list-ul"></i>
                                </div>
                                <input class="form-control mr-sm-2 col-md-3" type="search" placeholder="Filtro rápido" aria-label="Search">

                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            <div class="form-group">
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option>1</option>                                                       
                                                </select>
                                            </div>
                                        </th>
                                        <th scope="col">
                                            <div class="form-group">
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option>1</option>                                                       
                                                </select>
                                            </div>
                                        </th>
                                        <th scope="col">
                                            <div class="form-group">
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option>1</option>                                                       
                                                </select>
                                            </div>
                                        </th>
                                        <th scope="col">
                                            <div class="form-group">
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option>1</option>                                                       
                                                </select>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>COLUMN</td>
                                        <td>COLUMN</td>
                                        <td>COLUMN</td>
                                        <td>COLUMN</td>
                                    </tr>
                                    <tr>
                                        <td>COLUMN</td>
                                        <td>COLUMN</td>
                                        <td>COLUMN</td>
                                        <td>COLUMN</td>
                                    </tr>
                                    <tr>
                                        <td>COLUMN</td>
                                        <td>COLUMN</td>
                                        <td>COLUMN</td>
                                        <td>COLUMN</td>
                                    </tr>
                                    <tr>
                                        <td>COLUMN</td>
                                        <td>COLUMN</td>
                                        <td>COLUMN</td>
                                        <td>COLUMN</td>
                                    </tr>                                    
                                </tbody>
                            </table>  
                        </div>
                        <div class="modal-footer">
                            <div class="col btn-container col-md-6">
                                <div class="row">
                                    <button type="button" class="btn btn-outline col" data-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-dark">Enviar por correo</button>
                                    <button type="button" class="btn btn-dark">Descargar</button>
                
                                </div>
                            </div>                 
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-productivity-container">
                <div class="info-productivity" *ngIf="data[0].name === 'Citas ambulatorias'">
                    <ng-container *ngFor="let prev of prevision">
                        <h6>{{prev.type}}: <span>{{prev.qty}}</span></h6>
                    </ng-container>
                </div>
                <div class="info-productivity" *ngIf="data[0].name !== 'Citas ambulatorias'">
                    <h6>CANTIDAD: <span>{{qty}}</span></h6>
                </div>
                <div class="info-productivity total">
                    <h6>TOTAL: <span>{{total}}</span></h6>
                </div>
            </div>
        </div>
    </div>
</div>
