.card{
    & .hiddenCard{
        display: none;
    }
    min-height: 200px;
    max-height: 200px;
    margin-bottom: 5%;
    .title-type{
        h6{
            color: #242424;
            font-size: 16px;
            font-weight: 700;
            font-family: 'Roboto', sans-serif;
        }
        i{
            color: #4D648D;
            padding: 3%;
            border: 1px solid #4D648D;
        }
        .fa-chart-pie{
            cursor: pointer;
        }
        .modal-dialog{
            width: 100%;
            max-width: initial;
            .modal-header{
                h6{
                    margin: 0 auto;
                    font-size: 28px;
                    font-weight: 700;
                    font-family: 'Roboto', sans-serif;
                }
                & .close{
                    margin: -1rem -1rem auto;
                }
            }
            .icons-mobile{
                display: none;
                @media (max-width: 768px) {
                    display: flex;
                    margin-bottom: 2%;
                    justify-content: space-around;
                    .icons{
                        display: flex;
                        justify-content: center;
                        align-items: center;   
                        .fas{
                            color: #4D648D;
                            padding: 3%;
                            border: 1px solid #4D648D;
                            font-size: 16px;
                        }
                    }
                }
            }
            .input-mobile{
                display: none;
                @media (max-width: 768px) {
                    display: block;
                }
            }
            .input-desktop{
                display: block;
                @media (max-width: 768px) {
                    display: none;
                }
            }
            table{
                margin-top: 2%;
                .form-control{
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid;
                    border-radius: 0;
                    &:focus{
                        outline:0px;
                        box-shadow: none;
        
                    }
                }
            }
            .btn-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                button{
                    color: #4D648D;
                    border-color: #4D648D;
                    border-radius: 0;
                    margin: 2%;
                }
                .btn{
                    font-size: 12px;
                }
                .btn-dark{
                    background-color: #4D648D;
                    color: #ffffff;
                    @media (max-width: 768px) {
                        display: none;
                    }
                }
            }
        }
    
    }
    .info-productivity-container{
        height: 135px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .info-productivity{
            text-align: center;
            h6{
                span{
                    font-weight: 700;
                    font-size: 28px;
                }    
            }
        }
        // .total{
        //     margin-top: 5%;
        // }
    }
}